$white: #fff;
$white-1: #f6f7fb;
$white-main: #fff7f1;
$white-bg: #f9fafb;
$white-blue: #e2e5f1;

$black: #111;
$black-0: #0b0f19;
$black-1: #22160f;
$black-2: #33354d;
$black-3: #565973;
$main: #f88d47;
$black-main: mix($main, $black-1, 40%);

$font-main: "Inter", sans-serif;
$font-monarque: "Monarque", "serif";
$font-manrope: "Manrope", sans-serif;
