.blog {
  &Header {
    padding: 75px 0 20px 0;
    &__inner {
      &-bread {
        display: flex;
        align-items: center;
        font-size: 15px;
        gap: 1em;
        margin-bottom: 2.2em;

        &-item {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 6px;
          color: $black-1;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 1;
          transition: 0.15s ease-in;
          &:hover {
            opacity: 0.8;
          }
          &:active {
            opacity: 0.5;
          }
          &.active {
            opacity: 1;
            color: $main;
            font-weight: 500;
          }
        }
      }
      &-title {
        position: relative;

        h2 {
          color: $black-1;
          font-weight: 600;
          line-height: 1.2;
          letter-spacing: -1px;
          max-width: 960px;
        }
        h4 {
          color: $black-0;
          font-style: normal;
          font-weight: 600;
          line-height: 1.3;
          max-width: 960px;
        }

        &._buttons {
          padding-right: 100px;
        }

        &-buttons {
          display: flex;
          position: absolute;
          bottom: 0;
          right: 0;
          align-items: center;
        }
      }
      &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .blogStatus {
        }
        &-users {
          display: flex;
          gap: 20px;
          .userData {
            padding-right: 20px;
            border-right: 1px solid rgba($black-1, 0.1);

            &:last-child {
              padding-right: 0;
              border-right: 0;
            }
          }
        }
      }
    }
  }
  &Container {
    padding-bottom: 120px;

    &__inner {
      display: flex;
      justify-content: space-between;

      &-body {
        width: calc(100% - 400px);

        &-button {
          display: flex;

          .button {
            flex-grow: 1;
          }
        }
      }
      &-side {
        width: 375px;

        &._sticky {
          align-self: flex-start;
          position: sticky;
          top: 80px;
        }
      }
    }

    &--small &__inner {
      max-width: 1290px;
      &-side {
        max-width: 240px;
      }
    }
  }
  &Content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h6 {
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    h6 {
      font-family: $font-main;
    }

    &__note {
      position: relative;
      font-size: 16px;
      padding: 2em 1em 2em 2.4em;
      background: $white;
      display: flex;
      flex-direction: column;
      gap: 2em;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 3px;
        height: calc(100% - 4em);
        border-radius: 3px;
        background: $main;
        transform: translateY(-50%);
      }
    }
    &__group._main {
      h6 {
        font-family: $font-monarque;
      }
      p {
        color: $black-3;
        line-height: 1.75;
      }
    }
    &__list {
      &-title {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        //font
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 1.2;
        color: $black-0;

        &-ico {
          width: 1em;
          height: 1em;
          margin-right: 0.5em;
          color: $main;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
          position: relative;
          padding-left: 1.5em;

          //font
          color: $black-1;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.6;

          &:after {
            position: absolute;
            content: "";
            display: block;
            left: 0.5em;
            top: 0.8em;
            width: 0.3em;
            height: 0.3em;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background: currentColor;
          }
        }
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      font-size: 16px;
      gap: 0.5em;

      strong {
        color: $black-0;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 1.2;
      }
      .badge {
        padding: 0.6em 1.4em;
        display: inline-block;
      }
    }
  }
  &Side {
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 25px;

      &-input {
        .input {
          font-size: 16px;
          .iconButton {
            width: 2.5em;
            height: 2.5em;
            svg {
              width: 1.3em;
              height: 1.3em;
            }
          }
        }
      }
    }
    &__categories {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5em;
      font-size: 16px;
      padding: 1.5em;
      border-radius: 0.5em;
      background: $white;
      border: 1px solid rgba($black-1, 0.17);

      h6 {
        margin-bottom: 10px;
      }
      a {
        position: relative;
        display: inline-block;
        //font
        color: $black-1;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        padding: 0.3em 0;

        span {
          margin-left: 0.2em;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 10%;
          height: 1px;
          background-color: $black-1;
          opacity: 0;
          transition: 0.15s ease-out;
        }
        &:hover {
          &:after {
            width: 90%;
            opacity: 0.4;
          }
        }
        &:active {
          color: $black;
          &:after {
            width: 100%;
            opacity: 0.8;
          }
        }
        &.active {
          color: $main;
          font-weight: 600;
        }
      }
    }
    &__posts {
      font-size: 16px;
      padding: 1.5em;
      border-radius: 0.5em;
      background: $white;
      border: 1px solid rgba($black-1, 0.17);

      h6 {
        margin-bottom: 10px;
      }
      &-item {
        font-size: 16px;
        padding: 1em 0;
        border-bottom: 1px solid rgba($black-1, 0.17);
        p {
          color: $black-1;
          font-style: normal;
          font-weight: 500;
          font-size: inherit;
          line-height: 1.6;
          margin-bottom: 0.8em;
        }
        &:last-child {
          padding-bottom: 0;
          border: 0;
        }
      }
    }
    &__social {
      font-size: 16px;
      padding: 1.5em;
      border-radius: 0.5em;
      background: $white;
      border: 1px solid rgba($black-1, 0.17);

      h6 {
        margin-bottom: 1em;
      }
      &-links {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 0.9em;

        .iconButton {
          font-size: inherit;
        }
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 45px;
      position: sticky;
      top: 75px;
      padding: 32px 0;

      &-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .input {
          font-size: 14px;
        }
      }
      &-footer {
        h6 {
          margin-bottom: 0.5em;
        }
        &-row {
          display: flex;
          gap: 8px;
          .iconButton {
            &:after {
              background: $white-main;
            }
            &:hover {
              &:after {
                background: $main;
              }
            }
          }
        }
      }
    }
  }
  &Item {
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4.4px 12px -1px rgba($black-1, 0.06),
      0px 2px 6.4px -1px rgba($black-1, 0.03);
    overflow: hidden;
    min-height: 325px;
    margin-bottom: 25px;

    &__image {
      position: relative;
      width: 40%;
      flex-shrink: 0;
      font-size: 16px;
      .ratioImage {
        padding: unset;
        height: 100%;
      }
      &-save {
        cursor: pointer;
        position: absolute;
        top: 1em;
        right: 1em;
        width: 2.2em;
        height: 2.2em;
        border-radius: 50%;
        transition: 0.3s ease-out;
        z-index: 0;

        color: $black-1;

        //display
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0%;
          top: 0%;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          background: $white;
          z-index: -1;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 90%;
          height: 90%;
          background: rgba($main, 0.7);
          border-radius: inherit;
          transition: 0.3s ease-out;
          transform: translate(-50%, -50%);
          z-index: -2;
        }
        svg {
          pointer-events: none;
          width: 1em;
          height: 1em;
        }
        &:hover {
          &:after {
            width: 110%;
            height: 110%;
          }
        }
        &:active {
          color: $black;
          &:after {
            width: 120%;
            height: 120%;
          }
        }
        &.active {
          color: $black-1;
          &:before {
            background: mix($main, $white, 80%);
          }
          &:after {
            background: rgba($black-1, 0.4);
          }
        }
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 25px;

      &-header {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 0.9em;
        margin-bottom: 1.2em;

        .badge {
          font-size: inherit;
        }
        small {
          font-size: inherit;
          padding: 0.3em 0.3em 0.3em 0.9em;
          border-left: 1px solid rgba($black-1, 0.1);
          //font
          color: $black-1;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 1;
        }
      }
      &-body {
        margin-bottom: 24px;

        h6 {
          font-family: $font-main;
          font-weight: 600;
          line-height: 1.4;
          color: $black-2;
          margin-bottom: 16px;
          &:last-child {
            margin: 0;
          }
        }
        p {
          color: $black-1;
          font-style: normal;
          font-weight: 400;
          line-height: 1.6;
        }
      }
      &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        padding-top: 20px;

        border-top: 1px solid rgba($black-1, 0.1);
      }
    }
    &--vertical {
      flex-direction: column;

      .blogItem {
        &__content {
          width: 100%;
          &-header {
            justify-content: space-between;
            small {
              border: 0;
            }
          }
        }
        &__image {
          width: 100%;
          .ratioImage {
            height: unset;
            width: 100%;
            padding-bottom: 73%;
          }
        }
      }
    }
  }
  &Status {
    display: flex;
    align-items: center;
    gap: 10px;
    .badge {
      font-size: 16px;
    }
    small {
      border-right: 1px solid rgba($black-1, 0.1);

      color: $black-1;
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      text-align: right;
      padding: 0.3em 0.8em 0.3em 0;
    }
    button {
      display: flex;
      gap: 0.45em;
      color: $black-1;
      align-items: center;
      font-family: $font-manrope;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      padding: 0.3em;
      transition: 0.3s ease-out;

      &:hover {
        opacity: 0.6;
      }
      &.active {
        opacity: 1;

        svg {
          color: $main;
        }
      }
    }
  }
  &Banner {
    padding: 80px 0;
    &__image {
      display: flex;
      width: 100%;
      min-height: 65vh;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  &Comments {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 0;

    h4 {
      margin-bottom: 10px;
    }
    &__item {
      border-bottom: 1px solid $white-blue;
      padding-bottom: 32px;

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        &-button {
          display: flex;
          gap: 0.6em;
          //font
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 1;
          color: $black-2;
          transition: 0.2s ease;

          &:hover {
            opacity: 0.8;
          }
        }
      }
      &-body {
        p {
          font-weight: 400;
          line-height: 1.6;
          color: $black-1;
        }
      }
      &-reply {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        font-size: 16px;
        padding-top: 2em;
        padding-left: 2.5em;

        &:before {
          content: "";
          position: absolute;
          display: block;
          top: 2em;
          left: 0;
          width: 1px;
          height: calc(100% - 2em);
          background-color: $main;
        }
      }
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  &Form {
    padding: 65px 40px;
    &__inner {
      max-width: 750px;
      margin: 0 auto;

      h5 {
        margin-bottom: 1.25em;
      }
      &-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 25px;
        margin-bottom: 25px;
      }
      &-group {
        width: calc(50% - 12px);

        &._lg {
          width: 100%;
        }
        .input {
          font-size: 16px;
        }
        & > label {
          color: $black-1;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.2;
          margin-bottom: 5px;
        }
      }
      &-buttons {
        display: flex;
        margin-top: 40px;

        .button {
          box-shadow: unset;
        }
      }
    }
  }
  &Share {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;

    &__row {
      display: flex;
      gap: 14px;

      .iconButton {
        &:after {
          background: $white;
        }

        &:hover {
          &:after {
            background: $main;
          }
        }
      }
    }
    ._like {
      position: sticky;
      top: 80px;
      border-color: $white-blue;

      .badge {
        padding: 0.3em 0.4em;
        font-family: $font-monarque;
      }
    }
  }
}
.userData {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 16px;

  &-image {
    width: 4em;
    height: 4em;
    border-radius: 50%;

    img {
      @include fullImage;
      border-radius: inherit;
    }
  }
  &-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  span {
    color: $black-0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
  }
  small {
    color: $black-0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }
  a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-decoration-line: underline;
    color: #22160f;
    transition: 0.1s;
    &:hover {
      opacity: 0.8;
    }
  }
  strong {
    color: $black-1;
    font-weight: 700;
    font-size: inherit;

    &._light {
      font-weight: 500;
    }
  }
}
.related {
  padding: 100px 0;
  &__inner {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      margin: 0 -1em;
      row-gap: 2em;

      .blogItem {
        width: calc(33.3% - 2em);
        margin: 0 1em;
      }
    }
  }
}

@mixin blog-1400 {
  .blog {
    &Container {
      &__inner {
        &-body {
          width: calc(100% - 320px);
        }
        &-side {
          width: 300px;
        }
      }
    }
    &Side {
      &__inner {
        gap: 20px;
      }
      &__categories {
        font-size: 14px;
      }
      &__posts {
        font-size: 14px;
      }
      &__social {
        font-size: 14px;
      }
    }
  }
}
@mixin blog-1280 {
  .blog {
    &Side {
      &__inner {
        gap: 15px;
      }
      &__categories {
        font-size: 10px;
      }
      &__posts {
        font-size: 10px;
      }
      &__social {
        font-size: 10px;
      }
    }
    &Item {
      min-height: unset;

      &__content {
        padding: 15px;

        &-header {
          font-size: 12px;
        }
        &-body {
          margin-bottom: 20px;
        }
        &-footer {
          padding-top: 15px;

          .userData {
            gap: 0.6em;
            &-image {
              width: 3em;
              height: 3em;
            }
          }
        }
      }
    }
  }
}

@mixin blog-1160 {
  .blog {
    &Container {
      &__inner {
        flex-direction: column-reverse;
        gap: 30px;

        &-side {
          width: 100%;
        }
        &-body {
          width: 100%;
        }
      }
      &--small {
        .blog {
          &Container {
            &__inner {
              flex-direction: row;

              &-side {
                width: 220px;
              }
              &-body {
                width: calc(100% - 240px);
              }
            }
          }
        }
      }
    }
    &Side {
      &__categories {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px 12px;

        h6 {
          width: 100%;
        }
        a {
          padding-right: 10px;
          border-right: 1px solid $white-blue;

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }
  .related {
    &__inner {
      &-row {
        font-size: 6px;

        .blogItem {
          &__content {
            &-body {
              h6 {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
@mixin blog-940 {
  .blog {
    &Banner {
      padding: 40px 0;
    }
    &Header {
      &__inner {
        &-footer {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          margin-top: 30px;
        }
      }
    }
    &Container {
      padding-bottom: 80px;
      &--small {
        .blog {
          &Container {
            &__inner {
              flex-direction: column;
              &-side {
                width: 100%;
                max-width: 400px;
                padding-top: 30px;
                border-top: 1px solid $white-blue;
              }
              &-body {
                width: 100%;
                max-width: unset;
                max-width: 700px;
              }
            }
          }
        }
      }
    }
    &Content {
      &__footer {
        flex-wrap: wrap;
        strong {
          width: 100%;
        }
      }
    }
    &Status {
      .badge {
        font-size: 14px;
      }
    }
  }
  .related {
    padding: 60px 0 80px 0;
    &__inner {
      &-row {
        font-size: 16px;
        .blogItem {
          width: calc(50% - 2em);
        }
      }
    }
  }
}

@mixin blog-768 {
  .blog {
    &Container {
      padding-bottom: 60px;
    }
    &Item {
      flex-direction: column;
      &__image {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
        .ratioImage {
          padding-bottom: 55%;
        }
      }
      &__content {
        width: 100%;
      }
    }
    &Side {
      &__categories {
        gap: 6px;
        a {
          padding-right: 6px;
          border-right: 1px solid $white-blue;
        }
      }
    }
    &Form {
      padding: 50px 30px;
      &__inner {
        gap: 15px;

        &-group {
          width: 100%;

          .input {
            font-size: 14px;
          }
        }
        &-buttons {
          justify-content: center;
          gap: 10px;

          .button {
            flex-grow: 1;
          }
        }
      }
    }
    &Status {
      .badge {
        font-size: 12px;
      }
    }
    &Header {
      padding: 50px 0 20px 0;
    }
  }
  .userData {
    font-size: 14px;
    &-image {
      width: 3em;
      height: 3em;
    }
    span {
      font-size: 14px;
    }
    small {
      font-size: 12px;
    }
    a {
      font-size: 14px;
    }
    strong {
      font-size: 14px;
    }
  }
  .related {
    padding: 40px 0 60px 0;

    &__inner {
      &-row {
        font-size: 10px;
      }
    }
  }
}
@mixin blog-580 {
  .blog {
    &Form {
      padding: 30px 15px;
    }
    &Item {
      &__image {
        .ratioImage {
          padding-bottom: 65%;
        }
      }
    }
  }
  .userData {
    font-size: 14px;
    gap: 0.5em;

    &-image {
      width: 2.6em;
      height: 2.6em;
    }
  }
  .related {
    &__inner {
      &-row {
        font-size: 16px;
        margin: 0;
        .blogItem {
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
        }
      }
    }
  }
}
