.main {
  display: flex;
  flex-direction: column;
}
.autoContainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 60px;
}
.input {
  display: flex;
  width: 100%;
  font-size: 20px;

  input,
  textarea,
  &__selected {
    padding: 1em 1.2em;
    border-radius: 0.6em;
    width: 100%;
    background-color: $white;
    border: 1px solid $white-main;
    resize: none;
    transition: 0.3s ease-out;

    //font
    color: $black-1;
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: inherit;
    line-height: 1;
    &::placeholder {
      color: rgba($black, 0.4);
    }
  }
  input:focus,
  textarea:focus {
    color: $black-main;
    border-color: $black-main;
  }
  &--primary {
    input {
      background: $white;
      border-color: rgba($black, 0.06);
      box-shadow: 0px 1em 1.3em rgba($black, 0.22);
      border-radius: 25;
    }
  }
  &--default {
    input,
    textarea,
    &__selected {
      border-radius: 0.5em;
      border-color: $white-blue;
    }
  }
  &--buttonRight {
    position: relative;
    input {
      padding-right: 3em;
    }
    .button,
    .iconButton {
      position: absolute;
      font-size: inherit;
      top: 50%;
      right: 0.5em;
      transform: translateY(-50%);
      box-shadow: unset;
    }
    &._wideButton {
      input {
        padding-right: 8em;
      }
      .button {
        width: 7em;
      }
    }
  }
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1em 1.6em;
  border: 1px solid transparent;
  gap: 0.6em;

  color: $black-1;
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  transition: all 0.3s ease;

  &--primary {
    background: $main;
    border-color: $main;
    color: $white;
    border-radius: 0.62em;
    box-shadow: 0px 1em 1.4em rgba($main, 0.37);

    &:hover {
      opacity: 0.8;
      background: mix($main, $white, 90%);
      box-shadow: 0px 0.6em 1em rgba($main, 0.37);
    }
  }
  &--border {
    color: $black-1;
    border-color: $black-1;
    border-radius: 0.62em;

    &:hover {
      border-color: mix($main, $black, 90%);
      color: mix($main, $black, 90%);
      background: rgba($white, 0.03);
    }
  }
  &--iconright {
    svg {
      width: 0.6em;
      height: 0.6em;
      margin-left: 1em;
    }
  }
  &--rounded {
    cursor: pointer;
    padding: 1.2em 1em;
    border: 2px solid transparent;
    background: $white;
    border-radius: 3em;
    gap: 0.6em;

    //font
    color: $black-1;
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    line-height: 1;

    &:hover {
      border-color: rgba($black, 0.8);
      .custIcon {
        opacity: 1;
        width: 1em;
        height: 1em;
      }
    }
    &:active {
      border-color: rgba($main, 0.8);
      .custIcon {
        color: rgba($main, 0.8);
      }
    }
    .custIcon {
      font-size: 0.67em;
      opacity: 0;
      width: 0;
      height: 0;
      transition: 0.3s ease-out;
      flex-shrink: 0;

      // &::after {
      //   border-color: $black;
      //   border-width: 4px;
      //   transform: translate(-50%, -55%) rotate(45deg) scale(0.45);
      // }
    }
  }
  &:active {
    opacity: 0.7;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
  }
  &--text {
    //font
    font-weight: 500;
    gap: 0.5em;
    padding: 0.2em;
    &:hover {
      color: $main;
    }
    &._favourite {
      color: $black-1;
    }
  }
}
.iconButton {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  gap: 0.6em;
  z-index: 0;

  color: $black-1;
  font-size: 18px;
  width: 2.7em;
  height: 2.7em;
  padding: 0;
  border-radius: 50%;
  transition: 0.1s ease;

  svg,
  .custIcon {
    width: 1em;
    height: 1em;
    transform: scale(1);
    transition: 0.15s ease;
  }

  &._smIco {
    svg,
    .custIcon {
      width: 0.4em;
      height: 0.4em;
    }
  }
  &:after {
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: $white-1;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.2s ease;
  }
  &:hover {
    color: $main;
    &:after {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  &:active {
    svg,
    .custIcon {
      width: 1em;
      height: 1em;
      transform: scale(1.1);
    }
  }
  &--transparent {
    &::after {
      opacity: 0;
    }
    &:hover {
      &:after {
        opacity: 0.4;
      }
    }
  }
  &--primary {
    color: $black-1;
    border-radius: 0.62em;

    &:hover {
      color: $white;
      box-shadow: 0px 6px 18px -6px rgba($main, 0.54);

      &:after {
        background: $main;
      }
    }
  }
  &.active {
    color: $main;
  }
}
.ratioImage {
  position: relative;
  padding-bottom: 65%;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
}
.badge {
  background: $main;
  border-radius: 0.28em;
  padding: 0.3em 0.6em;

  color: $white;
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  border: 1px solid $main;

  &--light {
    color: $main;
    background: rgba($main, 0.1);
    border-color: rgba($main, 0.1);
  }
  &--border {
    color: $black-2;
    border-color: $white-blue;
    border-radius: 4px;
    background: transparent;
  }
}
.checkbox {
  display: inline-flex;
  position: relative;
  font-size: 18px;
  z-index: 0;

  input {
    cursor: pointer;
    width: 1em;
    height: 1em;
    z-index: 1;
    font-size: inherit;
    opacity: 0;

    &:checked + span::before {
      border-color: $black;
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1.5px solid rgba($black-3, 0.2);
      border-radius: 3px;
      box-sizing: border-box;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 40%;
      left: 50%;
      width: 0.25em;
      height: 0.5em;
      border-bottom: 1.5px solid $white-main;
      border-right: 1.5px solid $white-main;
      transition: 0.1s ease;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__outer {
    display: flex;
    align-items: center;

    label {
      cursor: pointer;
      color: $black;
      font-family: $font-main;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      margin-left: 0.7em;

      a {
        color: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: inherit;
        text-decoration: underline;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
.custIcon {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 0.8em;
  width: 0.8em;
  color: inherit;

  &--left {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transform: translate(-25%, -50%) rotate(45deg);
    }
  }
  &--right {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-75%, -50%) rotate(45deg);
    }
  }
  &--up {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      border-bottom: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--down {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &--cross {
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 100%;
      background: $black;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--tick {
    margin-right: 5px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45%;
      height: 80%;
      border-bottom: 2px solid $main;
      border-right: 2px solid $main;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &--dots {
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $black;
    transition: 0.2s ease-in;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: inherit;
      transition: 0.2s ease-in;
    }
    &:before {
      left: calc(100% + 0.75em);
    }
    &:after {
      right: calc(100% + 0.75em);
    }
    &.active {
      width: 4.5em;
      border-radius: 2px;
      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
  &--rounded {
    font-size: inherit;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $main;

    &:after {
      top: 45%;
      width: 25%;
      height: 50%;
      border-color: $black;
    }
  }
}
.noBreak {
  white-space: nowrap;
}
.bg {
  &--main {
    background: $white-main;
  }
}
