.footer {
  padding: 80px 0;
  &__inner {
    display: flex;
    justify-content: space-between;

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 220px;
      gap: 25px;

      &-social {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 220px;
        gap: 16px;
      }
      .logo {
        width: 175px;
        img {
          width: 100%;
        }
      }
    }
    &-links {
      display: flex;
      width: calc(100% - 300px);
      justify-content: space-between;
      max-width: 840px;
      gap: 30px;

      &-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        h6 {
          margin-bottom: 10px;
          //font
          color: $black-1;
          font-family: $font-main;
          font-style: normal;
          font-weight: 500;
          line-height: 1.2;
        }
        a {
          position: relative;
          display: inline-block;
          //font
          color: $black-1;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.2;
          white-space: nowrap;

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 10%;
            height: 1px;
            background-color: $black-1;
            opacity: 0;
            transition: 0.15s ease-out;
          }
          &:hover {
            &:after {
              width: 90%;
              opacity: 0.4;
            }
          }
          &:active {
            color: $black;
            &:after {
              width: 100%;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

@mixin footer-940 {
  .footer {
    padding: 60px 0;

    &__inner {
      flex-direction: column-reverse;
      gap: 40px;

      &-info {
        width: 100%;
        border-top: 1px solid $white-blue;
        padding-top: 40px;
        gap: 16px;

        &-social {
          margin: 0 0 10px 0;
        }
        p {
          order: 1;
        }
      }
      &-links {
        width: 100%;
      }
    }
  }
}
@mixin footer-580 {
  .footer {
    padding: 40px 0;

    &__inner {
      flex-direction: column;
      gap: 30px;

      &-info {
        gap: 10px;
        padding-bottom: 30px;
        border-bottom: 1px solid $white-blue;
        border-top: 0;
        padding-top: 0;

        .logo {
          width: 160px;
          margin-bottom: 10px;
        }
        .iconButton {
          font-size: 16px;
        }
      }
      &-links {
        width: 100%;

        &-column {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@mixin footer-460 {
  .footer {
    &__inner {
      &-info {
        .logo {
          width: 150px;
          margin-bottom: 0;
        }
        .iconButton {
          font-size: 14px;
        }
        &-social {
          gap: 10px;
        }
      }
      &-links {
        gap: 10px;
        &-column {
          gap: 12px;
          h6 {
            font-size: 16px;
            margin-bottom: 5px;
          }
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}
