.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  z-index: 1;
  transition: 0.2s ease-out;
  transition-property: opacity, transform, padding;
  border-bottom: 1px solid rgba($black-1, 0.1);
  background: $white;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .logo {
      width: auto;
      height: 52px;
      transition: 0.4s ease-out;

      img {
        height: 100%;
        width: auto;
      }
    }
    .burger {
      display: none;
    }
  }

  &.sticky {
    position: fixed;
    transition-duration: 0.5s;
    background: rgba($white, 0.93);
    backdrop-filter: blur(3px);
    padding: 8px 0;

    .header__inner {
      .logo {
        height: 45px;
      }
    }
  }
  & + section {
    margin-top: 75px;
  }
}
.nav {
  width: 70%;
  max-width: 990px;
  &__inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    &-group {
      display: flex;
      align-items: center;
      gap: 10px;

      &._wide {
        flex-grow: 1;
        max-width: 515px;
        justify-content: space-between;
      }
    }
    &-link {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.2em 0.45em;
      transition: 0.3s ease-out;

      //font
      color: $black-1;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -3px;
        left: 50%;
        height: 3px;
        width: 60%;
        background: rgba($black-1, 0.8);
        border-radius: 3px;
        opacity: 0;
        transition: 0.3s ease-out;
        transform: translateX(-50%);
      }
      &:hover {
        color: $main;

        &:after {
          opacity: 1;
          width: 30%;
        }
      }

      &.active {
        color: $black-1;
        font-weight: 600;
        &:after {
          opacity: 1;
          height: 2px;
          width: 50%;
          background: $main;
        }
      }
    }
    &-social {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.3em;
      transition: 0.3s ease-out;
      z-index: 0;

      //font
      color: $black-1;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 1;

      &:after {
        position: absolute;
        content: "";
        display: block;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba($black-1, 0.05);
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
        transition: 0.25s ease;
        z-index: -1;
      }
      &:hover {
        color: $main;
        &:after {
          opacity: 0.5;
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
      &:active {
        color: $main;
        &:after {
          opacity: 0.8;
          transform: translate(-50%, -50%) scale(1.4);
        }
      }
      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: $main;
  background: transparent;
  transition: 0.2s ease;

  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 0.32em;
    background-color: currentColor;
    border-radius: 0.4em;
    transition: all 0.3s ease;
  }
  span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: "";
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    bottom: 0;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $black-1;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease;
    }
  }
}

@mixin header-1025 {
  .header {
    &__inner {
      justify-content: space-between;

      .logo {
        height: 46px;
      }
      .burger {
        display: block;
        z-index: 2;
      }
    }
    &.sticky {
      backdrop-filter: unset;

      .header__inner {
        .logo {
          height: 40px;
        }
      }
    }
    & + section {
      margin-top: 70px;
    }
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.4);
    backdrop-filter: blur(4px);
    z-index: 0;
    transform: translate(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      max-width: 260px;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      box-sizing: border-box;
      background: $white;
      box-shadow: 0px 4px 24px -1px rgba($black, 0.2);
      padding: 50px 25px;
      transform: translate(-100%);
      opacity: 0;
      transition: 0.15s ease-in-out 0s;

      &-group {
        padding: 25px 0;
        gap: 8px;
        color: $black;
        border-top: 1px solid $white;
        width: 100%;

        &:first-child {
          border: 0;
        }

        &._wide {
          flex: unset;
          flex-direction: column;
          align-items: flex-start;
        }
      }
      &-link {
        color: $black;

        &:after {
          left: 0;
          top: 50%;
          width: 2px;
          height: 80%;
          transform: translateY(-50%);
        }

        &:hover {
          color: $main;
          &:after {
            width: 2px;
            height: 100%;
          }
        }
        &.active {
          color: $black;
          &:after {
            left: 0;
            top: 50%;
            width: 2px;
            height: 80%;
            transform: translateY(-50%);
          }
        }
      }
    }

    &.active {
      pointer-events: all;
      transform: translate(0);
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      .nav__inner {
        opacity: 1;
        transition: 0.3s ease-in-out 0.05s;
        transform: translate(0);
      }
    }
  }
}

@mixin header-768 {
  .header {
    &__inner {
      .logo {
        height: 40px;
      }
    }
    & + section {
      margin-top: 64px;
    }
    &.sticky {
      .header__inner {
        .logo {
          height: 35px;
        }
      }
    }

    .burger {
      font-size: 8px;
    }
  }
}

@mixin header-580 {
  .header {
    &__inner {
      .logo {
        height: 32px;
      }
    }
    & + section {
      margin-top: 56px;
    }
    &.sticky {
      .header__inner {
        .logo {
          height: 26px;
        }
      }
    }
  }
}
